.alert__container {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -100%);
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em 2em;
    border-bottom-left-radius: .5em;
    border-bottom-right-radius: .5em;
    color: var(--gray-light);
}

.alert__container.visible {
    transform: translate(-50%, 0);
    transition: all .3s ease-out;
    transition-delay: .3s;
}