.hint__container {
    padding: .25em;
    cursor: pointer;
}

.hint__container:hover {
    background-color: var(--gray-bg);
}

.hintbar__text {
    margin-left: 2.5rem;
}

.hintbar__text--marked {
    color: var(--blue);
}