.search__container {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    max-width: 800px;
    background-color: var(--gray-light);
    font-size: 1rem;
    border-radius: .5em;
    transition: .3s all ease-out;
}