:root {
  --gray-bg: #E6E6EE;
  --gray-dark: #A8AAB9;
  --gray-light: #F7F8FB;
  --graphite: #343646;
  --blue: #2698FE;
}

body {
  margin: 0;
  padding: 0; 
  top: 0;
  left: 0; 
  width: 100vw;
  height: 100vh;
  background-color: var(--gray-bg); 
}

* {
  box-sizing: border-box;
}